{#
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}


{% set COMPUTE_URL_BASE = 'https://www.googleapis.com/compute/v1/' %}
{% set MASTER = env["deployment"]  + '-' + properties["name"] + '-' + env["name"]  %}


resources:
- name: {{ MASTER }}
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: {{ COMPUTE_URL_BASE }}projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/machineTypes/{{ properties["machineType"] }}
    metadata:
      items:
      - key: ssh-keys
        value: {{ properties['public_key'] }}
      - key: startup-script
        value: |
          if [ -d "/opt/apigee" ]; then
            exit 1
          fi

          export APP_CWC="{{ properties['cwc'] }}"
          export property_name="shared.properties"
          export thirdparty="{{ properties['thirdparty'] }}"
          
          mkdir -p /tmp/apigee
          mkdir -p /tmp/apigee/log

          #CWC
          
          mkdir -p /tmp/apigee/cwc
          touch /tmp/apigee/cwc/${property_name}

          echo $APP_CWC

          if [[ "$APP_CWC" != "None" ]];then
              app_cwc_ary=($APP_CWC)
              for item in ${app_cwc_ary[*]}
              do
                  cwc_item=$item
                  cwc_item=${cwc_item/[/}
                  cwc_item=${cwc_item/]/}
                  cwc_item=${cwc_item/\'/}
                  cwc_item=${cwc_item/\'/}
                  cwc_item="$(echo -e "${cwc_item}" | tr -d '[:space:]')"
                  echo $cwc_item > /tmp/apigee/cwc/${property_name}
                  chomd 755 /tmp/apigee/cwc/${property_name}
              done
          fi


          echo $thirdparty
          IFS=','
          thirdparty_ary=($thirdparty)
          for item in ${thirdparty_ary[*]}
          do
            thirdparty_item=$item
            echo $thirdparty_item
            thirdparty_item=${thirdparty_item/[/}
            thirdparty_item=${thirdparty_item/]/}
            thirdparty_item=${thirdparty_item/\'/}
            thirdparty_item=${thirdparty_item/\'/}
            thirdparty_item="$(echo -e "${thirdparty_item}" | tr -d '[:space:]')"
            echo $thirdparty_item
            echo $thirdparty_item
            #To ensure that it works atleast once every 3 times
            for number in {1..3}
            do
              yum install -y $thirdparty_item
            done
          done

          cd /etc
          sed -i s/::1/#::1/g hosts
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ MASTER }}-disk
        diskSizeGb: {{ properties["diskSizeGb"] }}
        diskType: {{ COMPUTE_URL_BASE }}projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/diskTypes/pd-ssd
        sourceImage: {{ properties["sourceImage"] }}
    networkInterfaces:
    - network: $(ref.{{ properties["network"] }}.selfLink)
      subnetwork : $(ref.{{ properties["subnet"] }}.selfLink)
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
outputs:
- name: myIp
  value: $(ref.{{ MASTER }}.networkInterfaces[0].networkIP)
- name: selfLink
  value: $(ref.{{ MASTER }}.selfLink)
