{#
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

resources:
- name: apigee-ds1
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    machineType: {{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    public-key: {{ properties["public-key"] }}
- name: apigee-ds2
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    machineType: {{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    public-key: {{ properties["public-key"] }}
- name: apigee-ax0
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    machineType: {{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    public-key: {{ properties["public-key"] }}
- name: apigee-ax1
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    machineType: {{ properties["machineType"] }}
    zone: {{ properties["zone"] }}
    public-key: {{ properties["public-key"] }}
outputs:
- name: HOST_NAMES
  value: $(ref.apigee-ds1.myIp):$(ref.apigee-ds2.myIp):$(ref.apigee-ax0.myIp):$(ref.apigee-ax1.myIp)