{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set BASE_NAME =   env['deployment'] + '-' + env['name'] %}
{% set PROD_HEALTH = env['deployment'] + '-' + env['name'] + '-prod-health' %}
{% set TEST_HEALTH = env['deployment'] + '-' + env['name'] + '-test-health' %}
{% set PROD_POOL =   env['deployment'] + '-' + env['name'] + '-prod-pool' %}
{% set TEST_POOL =   env['deployment'] + '-' + env['name'] + '-test-pool' %}
{% set TEST_FWRULE = env['deployment'] + '-' + env['name'] + '-test-fwrule' %}
{% set PROD_FWRULE = env['deployment'] + '-' + env['name'] + '-prod-fwrule' %}

resources:
- name: {{ BASE_NAME }}
  type: compute.v1.address
  properties:
    region: {{ properties['region'] }}
- name: {{ PROD_HEALTH }}
  type: compute.v1.httpHealthCheck
  properties:
    checkIntervalSec: 5
    port: 9001
    requestPath: "/v1/healthcheck"
- name: {{ TEST_HEALTH }}
  type: compute.v1.httpHealthCheck
  properties:
    checkIntervalSec: 5
    port: 9002
    requestPath: "/v1/healthcheck"
- name: {{ PROD_POOL }}
  type: compute.v1.targetPool
  properties:
    region: {{ properties['region']}}
    healthChecks: [ $(ref.{{ PROD_HEALTH }}.selfLink) ]
    instances: [ {{ properties['instance1'] }} , {{ properties['instance2'] }}]
- name: {{ TEST_POOL }}
  type: compute.v1.targetPool
  properties:
    region: {{ properties['region']}}
    healthChecks: [ $(ref.{{ TEST_HEALTH }}.selfLink) ]
    instances: [ {{ properties['instance1'] }} , {{ properties['instance2'] }}]
- name: {{ TEST_FWRULE }}
  type: compute.v1.forwardingRule
  properties:
    IPProtocol: TCP
    region: {{ properties['region'] }}
    portRange: 9002
    IPAddress: $(ref.{{ BASE_NAME }}.address)
    target: $(ref.{{ TEST_POOL }}.selfLink)
- name: {{ PROD_FWRULE }}
  type: compute.v1.forwardingRule
  properties:
    IPProtocol: TCP
    region: {{ properties['region'] }}
    portRange: 9001
    IPAddress: $(ref.{{ BASE_NAME }}.address)
    target: $(ref.{{ PROD_POOL }}.selfLink)
outputs:
- name: LB_IP_ALIAS
  value: $(ref.{{ BASE_NAME }}.address)