{#
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set BASE_NAME =   env['deployment'] + '-' + properties['infra'].datacenters.primary.name + '-' + env['name'] %}
{% set BASE_NAME_LB =   env['deployment'] + '-' + env['name'] %}

{% set LB_PORT_DEFAULT = 80 %}
{% set VH_DEFAULT_PORT = 80 %}
{% set LB_PORT_SSL = 443 %}
{% set VH_SSL_PORT = 443 %}
{% set HEALTH_CHECK_PORT = "15999" %}
{% set GCLOUD_STATIC_IP = "130.211.0.0/16,35.191.0.0/16" %}

resources:
{% if (properties['infra'].topology != 2) %}

- name: {{ BASE_NAME }}-it
  type: apigee-r-instance-template.jinja
  properties:
    repo: {{ properties['repo'] }}
    infra: {{ properties['infra'] }}
    setup: {{ properties['setup'] }}
    network: {{ properties['network'] }}
    subnet: {{ properties["subnet"] }}
    msip: {{ properties["msip"] }}
    HOST_NAMES: {{ properties["HOST_NAMES"] }}
    public_key: {{ properties["public_key"] }}
    private_key: {{ properties["private_key"] }}
    LB_IP_ALIAS: {{ properties["LB_IP_ALIAS"] }}
    LB_IP_ALIAS_TEST: {{ properties["LB_IP_ALIAS_TEST"] }}
    sourceImage: {{ properties["sourceImage"] }}
- name: {{ BASE_NAME }}-mp-it
  type: apigee-mp-instance-template.jinja
  properties:
    repo: {{ properties['repo'] }}
    infra: {{ properties['infra'] }}
    setup: {{ properties['setup'] }}
    network: {{ properties['network'] }}
    subnet: {{ properties["subnet"] }}
    msip: {{ properties["msip"] }}
    HOST_NAMES: {{ properties["HOST_NAMES"] }}
    public_key: {{ properties["public_key"] }}
    private_key: {{ properties["private_key"] }}
    LB_IP_ALIAS: {{ properties["LB_IP_ALIAS"] }}
    sourceImage: {{ properties["sourceImage"] }}
- name: {{ BASE_NAME }}-igm
  type: compute.v1.instanceGroupManager
  properties:
    zone: {{ properties['infra'].datacenters.primary.zone }}
    targetSize: {{ properties['infra'].rmp.autoscale.size }}
    baseInstanceName: {{ BASE_NAME }}-instance
    instanceTemplate: $(ref.{{ BASE_NAME }}-it.selfLink)
    namedPorts:
    - name: {{ BASE_NAME_LB }}-default
      port: {{ VH_DEFAULT_PORT }}
    - name: {{ BASE_NAME_LB }}-ssl
      port: {{ VH_SSL_PORT }}

- name: {{ BASE_NAME }}-mp-igm
  type: compute.v1.instanceGroupManager
  properties:
    zone: {{ properties['infra'].datacenters.primary.zone }}
    targetSize: {{ properties['infra'].rmp.autoscale.size }}
    baseInstanceName: {{ BASE_NAME }}-mp-instance
    instanceTemplate: $(ref.{{ BASE_NAME }}-mp-it.selfLink)
- name: {{ BASE_NAME }}-mp-as
  type: compute.v1.autoscaler
  properties:
    zone: {{ properties['infra'].datacenters.primary.zone }}
    target: $(ref.{{ BASE_NAME }}-mp-igm.selfLink)
    autoscalingPolicy:
      maxNumReplicas: {{ properties['infra'].rmp.autoscale.maxSize }}
      coolDownPeriodSec: 600
- name: {{ BASE_NAME_LB }}
  type: apigee-lb-template.jinja
  properties:
    repo: {{ properties['repo'] }}
    infra: {{ properties['infra'] }}
    setup: {{ properties['setup'] }}
    network: {{ properties['network'] }}
    subnet: {{ properties["subnet"] }}
    igm: $(ref.{{ BASE_NAME }}-igm.instanceGroup)
    LB_IP_ALIAS: {{ properties["LB_IP_ALIAS"] }}
    LB_IP_ALIAS_TEST: {{ properties["LB_IP_ALIAS_TEST"] }}

{% if (properties['setup'].config.ingress.ssl != false) %}
- name: {{ BASE_NAME_LB }}-ssl
  type: apigee-lb-ssl-template.jinja
  properties:
    repo: {{ properties['repo'] }}
    infra: {{ properties['infra'] }}
    setup: {{ properties['setup'] }}
    network: {{ properties['network'] }}
    subnet: {{ properties["subnet"] }}
    igm: $(ref.{{ BASE_NAME }}-igm.instanceGroup)
    LB_IP_ALIAS: {{ properties["LB_IP_ALIAS"] }}
    LB_IP_ALIAS_TEST: {{ properties["LB_IP_ALIAS_TEST"] }}
{% endif %}

{% else %}

- name: {{ BASE_NAME }}-igm
  type: compute.v1.instanceGroup
  properties:
    network: $(ref.{{ properties["network"] }}.selfLink)
    subnet: $(ref.{{ properties["subnet"] }}.selfLink)
    region: {{ properties['infra'].datacenters.primary.region }}
    zone: {{ properties['infra'].datacenters.primary.zone }}
    namedPorts:
    - name: {{ BASE_NAME_LB }}-default
      port: {{ VH_DEFAULT_PORT }}
    - name: {{ BASE_NAME_LB }}-ssl
      port: {{ VH_SSL_PORT }}

- name: {{ BASE_NAME_LB }}
  type: apigee-lb-template.jinja
  properties:
    repo: {{ properties['repo'] }}
    infra: {{ properties['infra'] }}
    setup: {{ properties['setup'] }}
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    igm: $(ref.{{ BASE_NAME }}-igm.selfLink)
    LB_IP_ALIAS: {{ properties["LB_IP_ALIAS"] }}
    LB_IP_ALIAS_TEST: {{ properties["LB_IP_ALIAS_TEST"] }}

{% if (properties['setup'].config.ingress.ssl != false) %}
- name: {{ BASE_NAME_LB }}-ssl
  type: apigee-lb-ssl-template.jinja
  properties:
    repo: {{ properties['repo'] }}
    infra: {{ properties['infra'] }}
    setup: {{ properties['setup'] }}
    network: {{ properties['network'] }}
    subnet: {{ properties["subnet"] }}
    igm: $(ref.{{ BASE_NAME }}-igm.selfLink)
    LB_IP_ALIAS: {{ properties["LB_IP_ALIAS"] }}
    LB_IP_ALIAS_TEST: {{ properties["LB_IP_ALIAS_TEST"] }}
{% endif %}

{% endif %}



