{#
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

resources:
- name: apigee-ax0
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    name: {{ properties["infra"].datacenters.primary.name }}
    machineType: {{ properties["infra"].ds.machineType }}
    zone: {{ properties["infra"].datacenters.primary.zone }}
    diskSizeGb: {{ properties["infra"].ax.diskSizeGb }}
    public_key: {{ properties["setup"].public_key }}
    sourceImage: {{ properties["sourceImage"] }}
    thirdparty: {{ properties["repo"].thirdparty }}
    cwc: {{ properties["setup"].config.code_with_config.ax }}
- name: apigee-ax1
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    name: {{ properties["infra"].datacenters.primary.name }}
    machineType: {{ properties["infra"].ax.machineType }}
    zone: {{ properties["infra"].datacenters.primary.zone }}
    diskSizeGb: {{ properties["infra"].ax.diskSizeGb }}
    public_key: {{ properties["setup"].public_key }}
    sourceImage: {{ properties["sourceImage"] }}
    thirdparty: {{ properties["repo"].thirdparty }}
    cwc: {{ properties["setup"].config.code_with_config.ax }}
{% if (properties['infra'].portal.enable != false) %}
- name: apigee-dp
  type: apigee-shared-vm-template.jinja
  properties:
    network: {{ properties["network"] }}
    subnet: {{ properties["subnet"] }}
    name: {{ properties["infra"].datacenters.primary.name }}
    machineType: {{ properties["infra"].portal.machineType }}
    zone: {{ properties["infra"].datacenters.primary.zone }}
    diskSizeGb: {{ properties["infra"].portal.diskSizeGb }}
    public_key: {{ properties["setup"].public_key }}
    sourceImage: {{ properties["sourceImage"] }}
    thirdparty: {{ properties["repo"].thirdparty }}
    cwc: {{ properties["setup"].config.code_with_config.portal }}
{% endif %}
outputs:
- name: HOST_NAMES
  {% if (properties['infra'].portal.enable != false) %}
  value: $(ref.apigee-ax0.myIp):$(ref.apigee-ax1.myIp):$(ref.apigee-dp.myIp)
  {% else %}
  value: $(ref.apigee-ax0.myIp):$(ref.apigee-ax1.myIp)
  {% endif %}